/*LAST UPDATED BY SAM WEBB ON JUNE 8, 2014*/



/*****************************
******************************

CONTACT SELECTORS SECTION

******************************
*****************************/

#contactSelectors {
	text-align: center;
	border-top: 1px solid #666;
	margin: 0 30px;
	padding-top: 20px;
}

#contactSelectors img {
	width: 3em;
	height: auto;
	margin-left: 15px;
	margin-right: 15px;
}

#contactSelectors img#twitter {
	width: 2em;
	background-color: #333;
	margin-bottom: 5px;
	padding: 7px;
	border-radius: 5px;
}



