

body, .blog-posts {
	padding-bottom: 70px;
}

body, .firstPara {
	padding-top: 50px;
}

.blog-list {
	list-style: none;
}

.btn {
 	margin-left: 1em;
}

@media screen and (max-width: 600px){
	.footer-btn {
		display: none;
	}
}