

/* MAIN CSS */

body,
.blog-posts {
	padding-bottom: 70px;
}

body,
.firstPara {
	padding-top: 50px;
}

.blog-list {
	list-style: none;
}

.btn {
 	margin-left: 1em;
}




/* Hide Show Text Tut CSS */

.tut-button-style {
	margin-bottom: 1em;
}

.tut-p-style {
		font-weight: bold;
		background-color: #efefef;
		padding: 2px;	
		border-radius: 4px;
		color: #48599a;
		display: none;
		border: 1px solid #ccc;
}

@media screen and (max-width: 600px){
	.footer-btn {
		display: none;
	}
}



/* Custom CSS Buttons Tut CSS */

#tut-rectangle-button {
	width: 100px;
	height: 40px;
	color: black;
	background-color: #893208;
	margin-bottom: 10px;
	border: 1px solid black;
}

#tut-rectangle-button:hover {
	background-color: #ff0000;
	color: white;
}

#tut-circle-button {
	width: 70px;
	height: 70px;
	color: white;
	background-color: steelblue;
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 50%;
	box-shadow: 5px 5px black;
}

#tut-circle-button:hover {
	background-color: lightblue;
}

#tut-final-button {
	width: 100px;
	height: 40px;
	color: #f0f0f8;
	background-color: #424587;
	margin-bottom: 10px;
	border: 1px solid black;
}

#tut-final-button:hover {
	background-color: #90a5d9;
}



/* Custom CSS Buttons Tut CSS */

.xampp-tut-image {
	border: 1px solid black;
	width: 60%;
	height: auto;
	margin-bottom: 10px;
}

@media screen and (max-width: 750px){
	.xampp-tut-image {
		width: 100%;
	}
}




