

body,
.blog-posts {
	padding-bottom: 70px;
}

body,
.firstPara {
	padding-top: 50px;
}

.blog-list {
	list-style: none;
}

.btn {
 	margin-left: 1em;
}

.tut-button-style {
	margin-bottom: 1em;
}

.tut-p-style {
		font-weight: bold;
		background-color: #efefef;
		padding: 2px;	
		border-radius: 4px;
		color: #48599a;
		display: none;
		border: 1px solid #ccc;
}

@media screen and (max-width: 600px){
	.footer-btn {
		display: none;
	}
}